<div class="df_column p_15">
  <span>Nome : {{imovel.nome}}</span>
  <span>Valor : {{imovel.valor}}</span>
  <span>Valor Condiminio : {{imovel.condominio}}</span>
  <span>Qtd Quartos : {{imovel.quartos}}</span>
  <span>Qtd Banheiros : {{imovel.banheiros}}</span>
  <span>Mobiliado : {{imovel.mobiliado ? 'Sim' : 'Não'}}</span>
  <span>Area : {{imovel.area}}</span>
  <span>Modalidade : {{imovel.venda ? 'Venda' : 'Aluguel'}}</span>
  <span>DataAnuncio : {{imovel.dataAnuncio}}</span>
  <span>Rua : {{imovel.endereco?.rua}}</span>
  <span>Numero : {{imovel.endereco?.numero}}</span>
  <span>Bairro : {{imovel.endereco?.bairro}}</span>
  <span>Cidade : {{imovel.endereco?.cidade}}</span>
  <span>UF : {{imovel.endereco?.uf}}</span>
  <span>Cep : {{imovel.endereco?.cep}}</span>
</div>
